.profile{
    height: 100vh;
    width: 225px;
    
    opacity:0.8;
}
.prof{
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}
.profpic{
    width:170px;
    height:100px;

}
.welcome-text{
    font-size: 15px;
}
.daily-activity{
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text-1{
    font-size: medium;

}
.text-2{
    font-size: small;
    font-weight: 400;
    color:darkred;
}
.transac{
    margin-top: 20px;
    margin-left: 7px;
    background-color:blanchedalmond;
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 8px;
}
.date{
    color: cadetblue;
    font-size: smaller;
    font-weight: bold;

}
.dep-widrw{
color: crimson;
font-size: small;
font-weight: bolder;

}
.divide{
    background-color:darkgoldenrod;
    height: 2px;
    width: 190px;
}

@media screen and (max-width:480px) {
   .profile{
    width: 100vw;
    height: 100vh;
   }
   .prof{
    padding: 5px;
    margin-top: 20px;
   }
   .profpic{
    height:100px ;
    width:120px ;
   }
   .daily-activity{
    align-items: center;
    
   }
   .daily-head{
    margin-left: 0px;
    text-align: left;
   }
   .transac{
    margin-left: 80px;
    padding: 5px;

   }

}